/* Documentation Style Sheet */

.document-table {
  width: 100%;
  border-collapse: collapse;
}

.document-table th,
.document-table td {
  text-align: left;
  padding: 12px;
}

.document-table th {
  border-bottom: 1px solid #000;
}

.document-table tr:not(:last-child) {
  border-bottom: 1px solid #ddd;
}

.document-table td a {
  text-decoration: none;
  display: flex;
  width: min-content;
  gap: 10px;
  align-items: center;
}

.document-table td {
  padding: 20px 12px;
}

.document-table th:first-child,
.document-table td:first-child {
  white-space: nowrap;
  width: 1%;
  min-width: 100px;
}

.document-table tbody td:nth-child(2) {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.document-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

#search {
  border-radius: 20px;
  padding: 10px 15px;
  margin-left: 10px;
  background-color: #fff;
  border: 1px solid #aaa;
  color: #000;
  margin-left: 0;
}