/* FAQs Style Sheet */

.faq-accordion .accordion-item {
    margin-bottom: 20px;
    padding: 30px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
}

.faq-accordion h3 {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.faq-accordion .accordion-content ul {
    margin-bottom: 20px;
    margin-left: 15px;
}

.faq-accordion .accordion-content ul li {
    margin-bottom: 10px;
    line-height: 1.6;
}

.accordion-title {
    cursor: pointer;
}

.accordion-title h2,
.accordion-title h3 {
    font-size: 1.2rem;
    margin-bottom: unset;
    display: inline;
}

.accordion-title h2 {
    margin-right: 10px;
    font-weight: 700;
}

.accordion-title h3 {
    font-weight: 400;
}

.accordion-toggle {
    position: absolute;
    right: 30px;
}

.accordion-toggle::after {
    content: '+';
}

.accordion-title.active .accordion-toggle::after {
    content: '-';
}

.accordion-content {
    padding: 30px 0 0 0;
    display: none;
}