#custom_fields_table > tbody > tr > td > button {
    display: flex;
    align-items: center;
}

#custom_fields_table #add_field_button {
    display: flex;
    align-items: center;
    gap: 5px;
}

#custom_fields_table #add_field_button > span {
    height: 16px;
}