/* Documentation Style Sheet */

.th-document-table span {
  color: #ffffff;
}

.th-document-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.th-document-table th,
.th-document-table td {
  text-align: left;
  padding: 12px 0;
}

.th-document-table th {
  border-bottom: 1px solid #000;
  font-weight: 600;
  font-size: 1.2rem;
}

.th-document-table tr:not(:last-child) {
  border-bottom: 1px solid #ddd;
}

.th-document-table td a {
  text-decoration: none;
  display: flex;
  width: min-content;
  gap: 10px;
  align-items: center;
}

.th-document-table td {
  padding: 10px 0;
}

.th-document-table th:first-child,
.th-document-table td:first-child {
  white-space: nowrap;
  width: 25%;
  min-width: 100px;
}

.th-document-table tbody td:nth-child(2) {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.th-document-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

#search {
  border-radius: 20px;
  padding: 10px 15px;
  margin-left: 10px;
  background-color: #fff;
  border: 1px solid #aaa;
  color: #000;
  margin-left: 0;
}

@media (max-width: 768px) {

  .th-document-table th:first-child,
  .th-document-table td:first-child {
    max-width: 50px;
    width: unset;
    min-width: unset;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 20px;
  }

  .hide-text-mobile {
    display: none;
  }

  .th-document-controls {
    display: unset;
  }

  .select1 {
    margin-top: 15px;
  }

  #search {
    margin-right: 15px;
  }
}

@media (max-width: 449px) {
  main .wp-container-core-group-is-layout-1.wp-container-core-group-is-layout-1 {
    flex-wrap: wrap;
  }
}