/* Ticket Form Style Sheet */

.th-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 600px;
    padding: 0;
    margin: 0;
    max-width: 600px
}

.th-form label {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    font-weight: 500;
    padding: 0;
    margin: 0;
    margin-bottom: .5rem;
    color: #333;
    font-size: 16px
}

.th-form label span {
    color: red;
    display: contents;
}

.th-form input[type="text"],
.th-form input[type="email"],
.th-form textarea {
    margin: 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    width: 100%;
    box-sizing: border-box;
    margin-top: 5px
}

.th-form textarea {
    height: 150px
}

.th-form input,
.th-form select,
.th-form textarea {
    margin-top: 5px
}

.th-form select,
.th-form input[type="submit"] {
    width: min-content
}

input[type="file"] {
    border: none;
    padding-left: 0
}

input::file-selector-button {
    color: #eee;
    background-color: #000;
    border-radius: 20px;
    padding: 10px 15px;
    margin-right: 15px;
    border: none;
    font-size: 15px
}