/* TicketHub User Page Style Sheet */

.th-profile-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#th-loginform {
    max-width: 600px;
}

h3 {
    font-style: normal;
    font-weight: 700;
    margin-bottom: 20px;
}

h4 {
    font-style: normal;
    font-weight: 700;
    font-size: 1.4rem;
}

.th-profile-head+p {
    margin-bottom: 60px;
}

input[type="checkbox"] {
    padding: 10px;
    position: relative;
    border: 1px solid #ccc;
    margin-right: 10px;
    border-radius: 5px;
    float: left;
    margin-top: 2px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
}

input[type="checkbox"]::before {
    content: '';
    position: absolute;
    left: 10px;
    top: -6px;
    width: 8px;
    height: 18px;
    border: solid #000000;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    opacity: 0;
}

input[type="checkbox"]:checked::before {
    opacity: 1;
}

.button {
    width: auto;
    padding: 10px 25px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #000;
    color: #eee;
    border: none;
    border-radius: 25px;
    font-size: 15px;
}

.button:hover {
    background-color: #262626;
}

.th-button {
    text-decoration: none;
}