/* Ticket Archive Style Sheet */

.ticket-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.ticket-table th,
.ticket-table td {
  text-align: left;
  padding: 12px 0px;
}

.ticket-table th {
  border-bottom: 1px solid #000;
  font-weight: 600;
  font-size: 1.2rem;
}

.ticket-table tr:not(:last-child) {
  border-bottom: 1px solid #ddd;
}

.ticket-table td a {
  text-decoration: none;
}

.ticket-table td a:hover {
  border-bottom: 2px solid #000000;
}

.ticket-description {
  max-width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.status-chip {
  display: inline-block;
  padding: 5px 14px;
  border-radius: 16px;
  background-color: #ccc;
  color: #fff;
  font-size: 0.8em;
}

.status-chip[data-status='New'] {
  background-color: rgb(74, 158, 206);
}

.status-chip[data-status='Processing'] {
  background-color: rgb(174, 36, 197);
}

.status-chip[data-status='Done'] {
  background-color: rgb(76, 168, 164);
}

.th-ticket-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

#ticket_status,
#ticket_type {
  margin-left: 10px;
}

#search {
  border-radius: 20px;
  padding: 10px 15px;
  margin-left: 10px;
  background-color: #fff;
  border: 1px solid #aaa;
  color: #000;
  margin-left: 0;
  width: auto;
}

.mobile-table-header {
  display: none;
}

.tickets-filter-container {
  display: flex;
  align-items: center;
}

.switch-container {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 3px 5px 3px 25px;
  background-color: #eee;
  border-radius: 25px;
}

.switch-label {
  font-size: 15px;
  /* Example font size, adjust as needed */
}

/* The switch - the box around the slider */
.switch {
  scale: 60%;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #000;
}

input:focus+.slider {
  box-shadow: 0 0 1px #000;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.pagination-wrap {
  display: flex;
  padding: 10px 0px;
}

.page-number {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: #eee;
  /* Default background color */
  color: #333;
  text-align: center;
  border-radius: 50%;
  /* Makes the buttons circular */
  width: 35px;
  height: 35px;
  line-height: 35px;
  /* Centers the text vertically */
  margin: 5px;
  cursor: pointer;
  outline: none;
  /* Removes focus outline */
  transition: background-color 0.3s;
  /* Smooth background color transition */
  font-size: 15px;
}

.page-number a {
  text-decoration: none;
}

.page-number:hover {
  background-color: #ddd;
  /* Hover background color */
}

.page-number.active {
  background-color: #000;
  /* Active page background color */
  color: #fff;
}

.next {
  background-image: url('data:image/svg+xml,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' width=\'9.528\' height=\'16.871\' viewBox=\'0 0 9.528 16.871\'%3E%3Cpath id=\'Pfad_20\' data-name=\'Pfad 20\' d=\'M15.777,0,8.436,7.342,1.093,0,0,1.093,8.436,9.528l8.435-8.435Z\' transform=\'translate(0 16.871) rotate(-90)\'/%3E%3C/svg%3E');
  background-position: center;
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
}

.prev {
  background-image: url('data:image/svg+xml,<svg width="10" height="17" viewBox="0 0 10 17" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_1_2)"><path d="M9.528 15.777L2.186 8.436L9.528 1.093L8.435 0L0 8.436L8.435 16.871L9.528 15.777Z" fill="black"/></g><defs><clipPath id="clip0_1_2"><rect width="9.528" height="16.871" fill="white" transform="matrix(-1 0 0 -1 9.528 16.871)"/></clipPath></defs></svg>');
  background-position: center;
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
}

.first {
  background-image: url('data:image/svg+xml,<svg width="15" height="17" viewBox="0 0 15 17" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_1_4)"><path d="M14.014 15.778L6.67201 8.43698L14.014 1.09398L12.921 0.000976562L4.48601 8.43698L12.921 16.872L14.014 15.778Z" fill="black"/><path d="M0.750031 0L0.750031 17" stroke="black" stroke-width="1.5"/></g><defs><clipPath id="clip0_1_4"><rect width="14.014" height="17" fill="white" transform="matrix(-1 0 0 -1 14.014 17)"/></clipPath></defs></svg>');
  background-position: center;
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
}

.last {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="14.014" height="17" viewBox="0 0 14.014 17"><g id="Gruppe_77" data-name="Gruppe 77" transform="translate(-564.236 -776.436)"><path id="Pfad_21" data-name="Pfad 21" d="M15.777,0,8.436,7.342,1.093,0,0,1.093,8.436,9.528l8.435-8.435Z" transform="translate(564.236 793.435) rotate(-90)"/><line id="Linie_9" data-name="Linie 9" y1="17" transform="translate(577.5 776.436)" fill="none" stroke="%23000" stroke-width="1.5"/></g></svg>');
  background-position: center;
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
}

@media (max-width: 768px) {
  .th-ticket-controls .tickets-filter-container {
    display: block;
    max-width: 150px;
    margin-top: 30px;
  }

  .ticket-table td,
  .ticket-table tr {
    display: block;
    padding: 5px 0px;
    min-height: 28px;
  }

  .ticket-table tr {
    padding: 20px 0;
  }

  thead {
    display: none;
  }

  .mobile-table-header {
    display: inline-block;
    width: 140px;
    font-weight: 600;
  }

  .th-ticket-controls {
    display: unset;
  }

  #ticket_status,
  #ticket_type {
    margin-top: 15px;
    margin-left: unset;
    margin-right: 10px;
  }
}