/* Single Ticket Style Sheet */

.ticket-details>h3,
.ticket-details>div:not(.ticket-images):not(.related-tickets),
.ticket-details>a,
.ticket-comments {
  padding-bottom: 20px;
}

.ticket-details>h3 {
  margin-top: 30px;
}

.ticket-comment {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.ticket-details h4,
.ticket-comments h4 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.ticket-comments h4 {
  font-size: 1.5rem;
}

.ticket-attachments {
  padding: 10px 0;
}

.back-to-archive {
  text-decoration: none;
  cursor: pointer;
  font-weight: 600;
  padding-bottom: unset !important;
  margin-left: 5px;
}

.back-to-archive svg {
  margin-right: 10px;
}

.back-to-archive:hover {
  border-bottom: 2px solid #000000;
}

.ticket-image {
  width: 300px;
  transition: filter 0.3s ease;
}

.ticket-image:hover {
  filter: brightness(50%);
}

.ticket-info {
  display: flex;
  justify-content: space-between;
}

.comment-date>p {
  color: #999;
}

.image-container {
  width: min-content;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.zoomIcon {
  width: 64px;
  height: 64px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  max-height: 100%;
  max-width: 100%;
  display: none;
  pointer-events: none;
  transition: filter 0.3s ease;
}

.image-container:hover .zoomIcon {
  display: block;
}

.comment-wrapper {
  position: relative;
}

.vertical-bar {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 10px;
  background: #eee;
  border-radius: 5px;
}

.commentArea {
  resize: none;
  font-size: 1rem;
  padding: 30px;
  background: #eee;
  border-radius: 5px;
  border: none;
  margin-bottom: 30px;
  color: #24133b;
  font-family: 'Open Sans', sans-serif;
  max-width: 80%;
}

.commentArea::placeholder {
  color: #24133b;
  font-family: 'Open Sans', sans-serif;
}

hr {
  background-color: #D1D1D1;
  margin-bottom: 50px;
  height: 1px;
  border: 0;
}

/* Lightbox */

.lightbox-backdrop {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}

.lightbox-content {
  margin: 10% auto;
  display: flex;
  max-width: 100vw;
}

.lightbox-backdrop img {
  -webkit-animation-name: zoom;
  animation-name: zoom;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}

.related-tickets {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
  background-color: #eee;
  padding: 10px 15px 10px 30px;
  border-radius: 50px;
  flex-shrink: 1;
  margin-bottom: 20px;
}

.related-tickets>div:not(:first-child) {
  background-color: #000;
  padding: 8px 16px;
  border-radius: 25px;
}

.related-tickets>div:not(:first-child) a {
  color: #eee;
  text-decoration: none;

}

.related-tickets>div:not(:first-child):hover {
  background-color: #262626;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0)
  }

  to {
    -webkit-transform: scale(1)
  }
}

@keyframes zoom {
  from {
    transform: scale(0)
  }

  to {
    transform: scale(1)
  }
}

.logged-in-as {
  display: none;
}

@media (max-width: 999px) {
  .ticket-info {
    display: unset;
  }

  .ticket-field {
    padding-bottom: 20px;
  }
}