.wrapper {
  max-width: 1200px;
  margin: 0 auto !important;
  position: relative;
  padding: 0 30px;
}

.th-select {
  width: auto;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #000;
  color: #eee;
  border: none;
  border-radius: 25px;
  padding: 10px 50px 10px 25px;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-chevron-down" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"/></svg>');
  background-repeat: no-repeat;
  background-position: right 15px center;
  background-size: 12px;
  font-size: 15px;
}

.th-button {
  width: auto;
  padding: 10px 25px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #000;
  color: #eee;
  border: none;
  border-radius: 25px;
  font-size: 1rem;
  cursor: default;
}

.th-select:hover,
.th-button:hover {
  background-color: #262626;
}